@font-face {
  font-family: 'B612';
  src: url('https://static.rthr.me/fonts/B612/B612-Regular.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'B612';
  src: url('https://static.rthr.me/fonts/B612/B612-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'B612';
  src: url('https://static.rthr.me/fonts/B612/B612-Italic.ttf');
  font-style: italic;
}

@font-face {
  font-family: 'B612';
  src: url('https://static.rthr.me/fonts/B612/B612-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'B612 Mono';
  src: url('https://static.rthr.me/fonts/B612_Mono/B612Mono-Regular.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'B612 Mono';
  src: url('https://static.rthr.me/fonts/B612_Mono/B612Mono-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'B612 Mono';
  src: url('https://static.rthr.me/fonts/B612_Mono/B612Mono-Italic.ttf');
  font-style: italic;
}

@font-face {
  font-family: 'B612 Mono';
  src: url('https://static.rthr.me/fonts/B612_Mono/B612Mono-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}